<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=0">
    <link rel="stylesheet" href="css/style.css">
    <title>Puntos</title>
   
</head>
<body>
    <div class="box_">
    
    <main class="table">
        <section class="table__header">
            <h1 id="empresa">V.CENTER.O</h1>
            <form action="/back" method="get">
                <button id="home"><div id="ico_home"></div></button>
            </form>
        
        </section>
        <section class="table__body" id="table_body">
            <form action="/sql" method="post">
            <table>
                <thead class="body_thead">
                    <tr>
                        <th>N</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Puntos</th>
                        <th id="table_input">
                            <input type="text" id="input_point" name="valor">
                        </th>
                    </tr>
                </thead>
                <tbody class="body_tbody">
                    <input type="hidden" name="sTop" id="slTop"  value="sTop">
                    <% for(var i = 0; i < students.length; i++) {  %>
                        <% var s = students[i].id %>
                        
                        <tr>
                            <td class="n_focus">
                                    
                                    <%= s %>
                                
                                
                            </td>
                            <td><%= students[i].Names %></td>
                            <td><%=students[i].LastNames %></td>
                            <td><%=students[i].Points %></td>
                            <td class="td_btn">
                                <button id="add" type="submit" name="add" value=<%= s %> ></button>
                                <button id="delete" type="submit" name="delete" value=<%= s %> ></button>
                            </td>
                    <% } %>
                </tbody>
            </table>
            </form>
        </section>
    </main>
    
    </div>
    <script src="script/script.js"></script>
</body>
</html>