<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style_ver.css">
    <title>Puntos</title>
    <meta name="viewport" content="user-scalable=0">
</head>
<body>
    <div class="box_">
    
    <main class="table">
        <section class="table__header">
            <h1 id="empresa">V.CENTER.O</h1>
            <form action="/back" method="get">
                <button id="home"><div id="ico_home"></div></button>
            </form>
            <button id="recargar"><div id="ico_recargar"></div>Recargar</button>
        </section>
        <section class="table__body">
           
            <table>
                <thead class="body_thead">
                    <tr>
                        <th>N</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Puntos</th>
                        
                    </tr>
                </thead>
                <tbody class="body_tbody">
                    <% for(var i = 0; i < students.length; i++) {  %>
                        <% var s = students[i].id %>
                        
                        <tr>
                            <td class="n_focus">
                                    
                                    <%= s %>
                                
                                
                            </td>
                            <td><%= students[i].Names %></td>
                            <td><%=students[i].LastNames %></td>
                            <% if(  students[i].Points == unic ){ %>
                                <td class="maxpoints"> <div class="corona"></div> <%=students[i].Points %> </td>
                            <% } else {%>
                                <td> <%=students[i].Points %> </td>
                            <% } %>
                                
                          
                            
                    <% } %>
                </tbody>
            </table>
           
        </section>
    </main>
    
    </div>
    <script src="script/reset.js"></script>
</body>
</html>